py-cord[voice] @ git+https://github.com/Pycord-Development/pycord.git@master
python-dotenv==1.0.1
PyNaCl>=1.6,<1.7
davey>=0.1.4,<1
imageio-ffmpeg==0.4.9
aiohttp
httpx
motor==3.6.0
pymongo==4.9.2
dnspython==2.7.0
tzdata
colorama
cryptography
matplotlib>=3.8